<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Thank you for booking through Odin-Flight-Booker!, <%=@passenger.name%>!</h1>
        
        <p>
            To view the details of your booking, click <%=link_to "here", @url%>.
        </p>
        <br>
        <p>Have a great day!</p>
    </body>
</html>